.addcard{
  background-color: transparent !important;
  color: darkslategray;
  border: 1px dashed #555555;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 75px;
}

.smalltext{
  font-size: 12px;
}