.userImage{
  max-width: 100px;
  border-radius: 100%;
  margin: 20px;
}

.userBio{
  width: 320px;
  text-align: justify;
  margin: 0 auto;
  color: #4e4e4e;
  margin-bottom: 10px;
}

.form-group{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 350px;
  font-size: 9px;
}

.User{
  border: 1px double #9b777f;
  height:480px;
}